@import url('https://fonts.googleapis.com/css2?family=Anton&family=Gaegu:wght@300&family=Gugi&family=Lato:wght@300&family=Roboto:wght@300&family=Sofia&display=swap');

:root {
 --light-grey: #2b3032a1;
 --primary-color: #45ccb8;
 --border: #2b303218;
 --text-color: #ff686b;
 --roboto: "Roboto",sans-serif;
 --gugi: 'Gugi', cursive;
 --sofia: 'Sofia', cursive;
 --anton: 'Anton', sans-serif;
 --Lato: 'Lato', sans-serif;


}








