@import url('https://fonts.googleapis.com/css2?family=Anton&family=Gaegu:wght@300&family=Gugi&family=Lato:wght@300&family=Roboto:wght@300&family=Sofia&display=swap');

:root {
 --light-grey: #2b3032a1;
 --primary-color: #45ccb8;
 --border: #2b303218;
 --text-color: #ff686b;
 --roboto: "Roboto",sans-serif;
 --gugi: 'Gugi', cursive;
 --sofia: 'Sofia', cursive;
 --anton: 'Anton', sans-serif;
 --Lato: 'Lato', sans-serif;


}

.primary-color{
    color: var(--primary-color);
}

.bg-prrmary-color{
    background-color: var(--primary-color) !important
    ;
}


.text-color{
    color: var(--text-color);
}

.font-roboto{
    font-family: var(--roboto);
}

.light-blue{
    color: lightblue;
}

/* header */

header{
    background-color: var(--primary-color);
    font-family: var(--roboto);
}

.site-title{
    font-family: var(--gugi);
}

.sec-head{

    color: rgb(153, 11, 11);
}

.container.dropdown-toggle
.container.dropdown-item{
    font-size: 0.7em;
}

.header-links a{
    font-size: 0.9em;
    text-decoration: none;
    color: white;

}






